<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.hw.mbg.mapper.PushMapper">
  <resultMap id="BaseResultMap" type="com.liao.hw.mbg.entity.Push">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="push_name" jdbcType="VARCHAR" property="pushName" />
    <result column="push_avator" jdbcType="VARCHAR" property="pushAvator" />
    <result column="push_img" jdbcType="VARCHAR" property="pushImg" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="is_push" jdbcType="CHAR" property="isPush" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.liao.hw.mbg.entity.Push">
    <result column="push_content" jdbcType="LONGVARCHAR" property="pushContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, push_name, push_avator, push_img, create_date, create_by, is_push, del_flag
  </sql>
  <sql id="Blob_Column_List">
    push_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.liao.hw.mbg.entity.PushExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.liao.hw.mbg.entity.PushExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from push
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from push
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liao.hw.mbg.entity.PushExample">
    delete from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liao.hw.mbg.entity.Push">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into push (push_name, push_avator, push_img, 
      create_date, create_by, is_push, 
      del_flag, push_content)
    values (#{pushName,jdbcType=VARCHAR}, #{pushAvator,jdbcType=VARCHAR}, #{pushImg,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{isPush,jdbcType=CHAR}, 
      #{delFlag,jdbcType=CHAR}, #{pushContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liao.hw.mbg.entity.Push">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into push
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pushName != null">
        push_name,
      </if>
      <if test="pushAvator != null">
        push_avator,
      </if>
      <if test="pushImg != null">
        push_img,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="isPush != null">
        is_push,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="pushContent != null">
        push_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pushName != null">
        #{pushName,jdbcType=VARCHAR},
      </if>
      <if test="pushAvator != null">
        #{pushAvator,jdbcType=VARCHAR},
      </if>
      <if test="pushImg != null">
        #{pushImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        #{isPush,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="pushContent != null">
        #{pushContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liao.hw.mbg.entity.PushExample" resultType="java.lang.Long">
    select count(*) from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update push
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pushName != null">
        push_name = #{record.pushName,jdbcType=VARCHAR},
      </if>
      <if test="record.pushAvator != null">
        push_avator = #{record.pushAvator,jdbcType=VARCHAR},
      </if>
      <if test="record.pushImg != null">
        push_img = #{record.pushImg,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isPush != null">
        is_push = #{record.isPush,jdbcType=CHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.pushContent != null">
        push_content = #{record.pushContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update push
    set id = #{record.id,jdbcType=INTEGER},
      push_name = #{record.pushName,jdbcType=VARCHAR},
      push_avator = #{record.pushAvator,jdbcType=VARCHAR},
      push_img = #{record.pushImg,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      is_push = #{record.isPush,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      push_content = #{record.pushContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update push
    set id = #{record.id,jdbcType=INTEGER},
      push_name = #{record.pushName,jdbcType=VARCHAR},
      push_avator = #{record.pushAvator,jdbcType=VARCHAR},
      push_img = #{record.pushImg,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      is_push = #{record.isPush,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liao.hw.mbg.entity.Push">
    update push
    <set>
      <if test="pushName != null">
        push_name = #{pushName,jdbcType=VARCHAR},
      </if>
      <if test="pushAvator != null">
        push_avator = #{pushAvator,jdbcType=VARCHAR},
      </if>
      <if test="pushImg != null">
        push_img = #{pushImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        is_push = #{isPush,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="pushContent != null">
        push_content = #{pushContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liao.hw.mbg.entity.Push">
    update push
    set push_name = #{pushName,jdbcType=VARCHAR},
      push_avator = #{pushAvator,jdbcType=VARCHAR},
      push_img = #{pushImg,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      is_push = #{isPush,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      push_content = #{pushContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liao.hw.mbg.entity.Push">
    update push
    set push_name = #{pushName,jdbcType=VARCHAR},
      push_avator = #{pushAvator,jdbcType=VARCHAR},
      push_img = #{pushImg,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      is_push = #{isPush,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.liao.hw.mbg.entity.Push">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="push_name" jdbcType="VARCHAR" property="pushName" />
    <result column="push_avator" jdbcType="VARCHAR" property="pushAvator" />
    <result column="push_img" jdbcType="VARCHAR" property="pushImg" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="is_push" jdbcType="CHAR" property="isPush" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.liao.hw.mbg.entity.Push">
    <result column="push_content" jdbcType="LONGVARCHAR" property="pushContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, push_name, push_avator, push_img, create_date, create_by, is_push, del_flag
  </sql>
  <sql id="Blob_Column_List">
    push_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.liao.hw.mbg.entity.PushExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.liao.hw.mbg.entity.PushExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from push
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from push
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liao.hw.mbg.entity.PushExample">
    delete from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liao.hw.mbg.entity.Push">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into push (push_name, push_avator, push_img, 
      create_date, create_by, is_push, 
      del_flag, push_content)
    values (#{pushName,jdbcType=VARCHAR}, #{pushAvator,jdbcType=VARCHAR}, #{pushImg,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{isPush,jdbcType=CHAR}, 
      #{delFlag,jdbcType=CHAR}, #{pushContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liao.hw.mbg.entity.Push">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into push
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pushName != null">
        push_name,
      </if>
      <if test="pushAvator != null">
        push_avator,
      </if>
      <if test="pushImg != null">
        push_img,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="isPush != null">
        is_push,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="pushContent != null">
        push_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pushName != null">
        #{pushName,jdbcType=VARCHAR},
      </if>
      <if test="pushAvator != null">
        #{pushAvator,jdbcType=VARCHAR},
      </if>
      <if test="pushImg != null">
        #{pushImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        #{isPush,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="pushContent != null">
        #{pushContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liao.hw.mbg.entity.PushExample" resultType="java.lang.Long">
    select count(*) from push
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update push
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pushName != null">
        push_name = #{record.pushName,jdbcType=VARCHAR},
      </if>
      <if test="record.pushAvator != null">
        push_avator = #{record.pushAvator,jdbcType=VARCHAR},
      </if>
      <if test="record.pushImg != null">
        push_img = #{record.pushImg,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isPush != null">
        is_push = #{record.isPush,jdbcType=CHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.pushContent != null">
        push_content = #{record.pushContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update push
    set id = #{record.id,jdbcType=INTEGER},
      push_name = #{record.pushName,jdbcType=VARCHAR},
      push_avator = #{record.pushAvator,jdbcType=VARCHAR},
      push_img = #{record.pushImg,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      is_push = #{record.isPush,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      push_content = #{record.pushContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update push
    set id = #{record.id,jdbcType=INTEGER},
      push_name = #{record.pushName,jdbcType=VARCHAR},
      push_avator = #{record.pushAvator,jdbcType=VARCHAR},
      push_img = #{record.pushImg,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      is_push = #{record.isPush,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liao.hw.mbg.entity.Push">
    update push
    <set>
      <if test="pushName != null">
        push_name = #{pushName,jdbcType=VARCHAR},
      </if>
      <if test="pushAvator != null">
        push_avator = #{pushAvator,jdbcType=VARCHAR},
      </if>
      <if test="pushImg != null">
        push_img = #{pushImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        is_push = #{isPush,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="pushContent != null">
        push_content = #{pushContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liao.hw.mbg.entity.Push">
    update push
    set push_name = #{pushName,jdbcType=VARCHAR},
      push_avator = #{pushAvator,jdbcType=VARCHAR},
      push_img = #{pushImg,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      is_push = #{isPush,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      push_content = #{pushContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liao.hw.mbg.entity.Push">
    update push
    set push_name = #{pushName,jdbcType=VARCHAR},
      push_avator = #{pushAvator,jdbcType=VARCHAR},
      push_img = #{pushImg,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      is_push = #{isPush,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>