<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.hw.mbg.mapper.RecommendMapper">
  <resultMap id="BaseResultMap" type="com.liao.hw.mbg.entity.Recommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rcm_name" jdbcType="VARCHAR" property="rcmName" />
    <result column="rcm_img" jdbcType="VARCHAR" property="rcmImg" />
    <result column="rcm_price" jdbcType="DECIMAL" property="rcmPrice" />
    <result column="is_recommend" jdbcType="CHAR" property="isRecommend" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rcm_name, rcm_img, rcm_price, is_recommend, sort, create_date, create_by, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.liao.hw.mbg.entity.RecommendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liao.hw.mbg.entity.RecommendExample">
    delete from recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liao.hw.mbg.entity.Recommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into recommend (rcm_name, rcm_img, rcm_price, 
      is_recommend, sort, create_date, 
      create_by, del_flag)
    values (#{rcmName,jdbcType=VARCHAR}, #{rcmImg,jdbcType=VARCHAR}, #{rcmPrice,jdbcType=DECIMAL}, 
      #{isRecommend,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liao.hw.mbg.entity.Recommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rcmName != null">
        rcm_name,
      </if>
      <if test="rcmImg != null">
        rcm_img,
      </if>
      <if test="rcmPrice != null">
        rcm_price,
      </if>
      <if test="isRecommend != null">
        is_recommend,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rcmName != null">
        #{rcmName,jdbcType=VARCHAR},
      </if>
      <if test="rcmImg != null">
        #{rcmImg,jdbcType=VARCHAR},
      </if>
      <if test="rcmPrice != null">
        #{rcmPrice,jdbcType=DECIMAL},
      </if>
      <if test="isRecommend != null">
        #{isRecommend,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liao.hw.mbg.entity.RecommendExample" resultType="java.lang.Long">
    select count(*) from recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update recommend
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rcmName != null">
        rcm_name = #{record.rcmName,jdbcType=VARCHAR},
      </if>
      <if test="record.rcmImg != null">
        rcm_img = #{record.rcmImg,jdbcType=VARCHAR},
      </if>
      <if test="record.rcmPrice != null">
        rcm_price = #{record.rcmPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.isRecommend != null">
        is_recommend = #{record.isRecommend,jdbcType=CHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update recommend
    set id = #{record.id,jdbcType=INTEGER},
      rcm_name = #{record.rcmName,jdbcType=VARCHAR},
      rcm_img = #{record.rcmImg,jdbcType=VARCHAR},
      rcm_price = #{record.rcmPrice,jdbcType=DECIMAL},
      is_recommend = #{record.isRecommend,jdbcType=CHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liao.hw.mbg.entity.Recommend">
    update recommend
    <set>
      <if test="rcmName != null">
        rcm_name = #{rcmName,jdbcType=VARCHAR},
      </if>
      <if test="rcmImg != null">
        rcm_img = #{rcmImg,jdbcType=VARCHAR},
      </if>
      <if test="rcmPrice != null">
        rcm_price = #{rcmPrice,jdbcType=DECIMAL},
      </if>
      <if test="isRecommend != null">
        is_recommend = #{isRecommend,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liao.hw.mbg.entity.Recommend">
    update recommend
    set rcm_name = #{rcmName,jdbcType=VARCHAR},
      rcm_img = #{rcmImg,jdbcType=VARCHAR},
      rcm_price = #{rcmPrice,jdbcType=DECIMAL},
      is_recommend = #{isRecommend,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.liao.hw.mbg.entity.Recommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rcm_name" jdbcType="VARCHAR" property="rcmName" />
    <result column="rcm_img" jdbcType="VARCHAR" property="rcmImg" />
    <result column="rcm_price" jdbcType="DECIMAL" property="rcmPrice" />
    <result column="is_recommend" jdbcType="CHAR" property="isRecommend" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rcm_name, rcm_img, rcm_price, is_recommend, sort, create_date, create_by, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.liao.hw.mbg.entity.RecommendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liao.hw.mbg.entity.RecommendExample">
    delete from recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liao.hw.mbg.entity.Recommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into recommend (rcm_name, rcm_img, rcm_price, 
      is_recommend, sort, create_date, 
      create_by, del_flag)
    values (#{rcmName,jdbcType=VARCHAR}, #{rcmImg,jdbcType=VARCHAR}, #{rcmPrice,jdbcType=DECIMAL}, 
      #{isRecommend,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liao.hw.mbg.entity.Recommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rcmName != null">
        rcm_name,
      </if>
      <if test="rcmImg != null">
        rcm_img,
      </if>
      <if test="rcmPrice != null">
        rcm_price,
      </if>
      <if test="isRecommend != null">
        is_recommend,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rcmName != null">
        #{rcmName,jdbcType=VARCHAR},
      </if>
      <if test="rcmImg != null">
        #{rcmImg,jdbcType=VARCHAR},
      </if>
      <if test="rcmPrice != null">
        #{rcmPrice,jdbcType=DECIMAL},
      </if>
      <if test="isRecommend != null">
        #{isRecommend,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liao.hw.mbg.entity.RecommendExample" resultType="java.lang.Long">
    select count(*) from recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update recommend
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rcmName != null">
        rcm_name = #{record.rcmName,jdbcType=VARCHAR},
      </if>
      <if test="record.rcmImg != null">
        rcm_img = #{record.rcmImg,jdbcType=VARCHAR},
      </if>
      <if test="record.rcmPrice != null">
        rcm_price = #{record.rcmPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.isRecommend != null">
        is_recommend = #{record.isRecommend,jdbcType=CHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update recommend
    set id = #{record.id,jdbcType=INTEGER},
      rcm_name = #{record.rcmName,jdbcType=VARCHAR},
      rcm_img = #{record.rcmImg,jdbcType=VARCHAR},
      rcm_price = #{record.rcmPrice,jdbcType=DECIMAL},
      is_recommend = #{record.isRecommend,jdbcType=CHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liao.hw.mbg.entity.Recommend">
    update recommend
    <set>
      <if test="rcmName != null">
        rcm_name = #{rcmName,jdbcType=VARCHAR},
      </if>
      <if test="rcmImg != null">
        rcm_img = #{rcmImg,jdbcType=VARCHAR},
      </if>
      <if test="rcmPrice != null">
        rcm_price = #{rcmPrice,jdbcType=DECIMAL},
      </if>
      <if test="isRecommend != null">
        is_recommend = #{isRecommend,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liao.hw.mbg.entity.Recommend">
    update recommend
    set rcm_name = #{rcmName,jdbcType=VARCHAR},
      rcm_img = #{rcmImg,jdbcType=VARCHAR},
      rcm_price = #{rcmPrice,jdbcType=DECIMAL},
      is_recommend = #{isRecommend,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>